    <%- include header.ejs -%>
    		<div class="row">
                <div class="col-lg-12">
                    <h3>Based On Your Interests You May Like</h3>
                    <ul class="list-group">
            			<% interests.forEach(function(interest){ %>
	                    	<li class="list-group-item">
                				<a href="<%= interest["html_url"] %>"><%= interest["name"] %></a>
                				<span class="pull-right"><%= interest["stargazers_count"] %> <i class="fa fa-star"></i></span>
	            			</li>
        				<% }) %>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3>Your README's</h3>
                    <ul class="list-group">

                    <% readmes.forEach(function(data){ %>
                        <li class="list-group-item">
                    		<label class="pull-right label label-default"><%= data.labels %></label>
                        	<h4><%= data.name %></h4>
                    		<%= data.content %>
                		</li>
                    <% }); %>
                </div>
            </div>

			<div class="row">
                <div class="col-lg-12">
                    <h3>Your Repos</h3>
                    <ul class="list-group">

                    <% repos.forEach(function(data){ %>
                        <li class="list-group-item">
                    <b><%= data.name %></b> <small><%= data.description %></small></li>

                    <% }); %>
                </div>
            </div>
        <%- include footer.ejs -%>