extends layout
block content
  #page-wrapper
      .row
        .col-sm-12
          h1.page-header #{state_name} | #{state_code}
        .col-sm-6
        span#repNames
            table.table(style="float: left;")
              thead
                tr: th Representatives
                  tbody
                  - for(var i=0; i<reps.rows.length;i++){
                    tr
                      td 
                        a(href='/rep_profile/' + reps.rows[i].mem_id) #{reps.rows[i].f_name} #{reps.rows[i].l_name}
                  - }

            table.table(style="float: left;")
              thead
                tr: th Senators
                  tbody
                  - for(var i=0; i<sens.rows.length;i++){
                    tr
                      td 
                        a(href='/rep_profile/' + sens.rows[i].mem_id) #{sens.rows[i].f_name} #{sens.rows[i].l_name}
                  - }
